/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Anta', sans-serif;
    background: linear-gradient(to right, #f0f9fe, #dbe2ef); /* Light blue gradient */
    color: #333; /* Dark gray for text */
}
  
  /* Heading Styles */
h1 {
    font-size: 6em;
    text-align: center;
    color: #2196f3; /* Blue (can keep or adjust) */
  }
  
h2 {
    font-size: 2em;
    text-align: center;
    color: #2196f3; /* Blue (can keep or adjust) */
  }
  
  /* Button Container Styles */
#contenedor-botones,
#contenedor-tematica {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 10px 0; /* Consistent spacing */
  }
  
#contenedor-botones input[type="radio"] {
    margin: 0 10px;
  }
  
  /* Radio Button Styles */
input[type="radio"] {
    display: none;
  }
  
input[type="radio"] + label {
    padding: 10px;
    font-size: 1.2em;
    background-color: #e0e0e0; /* Light gray */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
  }
  
input[type="radio"]:checked + label {
    background-color: #d3d3d3; /* Slightly darker gray on selection */
    color: #333; /* Dark gray text for better contrast */
  }
  
  /* Nickname Input Styles */
#nickname {
    margin: 10px 0; /* Consistent spacing */
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;
  }
  
  /* Game Container Styles */
#contenedor-juego {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Play Button Styles */
#boton-jugar {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
#boton-jugar img {
    width: 250px; /* Adjust button size as needed */
    height: auto;
  }
  
  /* Font Class (optional) */
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  