<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Felicidades Ganaste</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/win.css') }}">
</head>
<body>
  <div class="confeti-container"></div>
  <div class="mensaje-felicidades">Felicidades, Ganaste!</div>

  <table id="info-table">
    <tr>
      <td id="nickname-label">Nickname:</td>
      <td id="nickname-display"></td>
    </tr>
    <tr>
      <td id="tiempo-label">Tiempo:</td>
      <td id="tiempo-display"></td>
    </tr>
    <tr>
      <td id="intentos-label">Intentos:</td>
      <td id="intentos-display"></td>
    </tr>
  </table>

  <button id="volver-inicio">Volver al Inicio</button>
  
  <script src="/static/jss/animacionWin.js"></script>
  <script src="/static/jss/obtenerName.js"></script>
  <script>
    // Obtenemos el valor actual de los intentos almacenados en el localStorage
    var intentosActuales = localStorage.getItem('intentos');

    // Si no hay un valor almacenado, lo inicializamos en 0
    if (intentosActuales === null) {
      intentosActuales = 0;
    }

    // Incrementamos el valor actual de los intentos en 1
    var nuevosIntentos = parseInt(intentosActuales) + 1;

    // Actualizamos el valor de los intentos en el localStorage
    localStorage.setItem('intentos', nuevosIntentos);

    // Actualizamos el valor que se muestra en la pantalla
    document.getElementById('intentos-display').textContent = nuevosIntentos;

    document.getElementById('volver-inicio').addEventListener('click', function() {
      localStorage.removeItem('intentos');
      localStorage.removeItem('tiempo');

      // Redirige al usuario a la página de inicio
      window.location.href = '/';
    });
  </script>
</body>
</html>
